<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.svg') }}" type="image/x-icon">
    <title>Contact</title>
</head>
<body>

    <section>
        <div class="contact-presentation mtb">
            <div class="title">
                <h1>Contactez l’équipe Métro Optic</h1>

                <p>Nous sommes à votre écoute pour répondre à toutes vos demandes</p>
            </div>
        </div>
    </section>

    <section>
        <div class="box-add">
            <div class="box">
               <h1>Besoin d'assistance ?</h1>

               <div class="bb-2"></div>

               <p>
                   Des questions techniques? Nous sommes là pour vous donner un coup de main. Contactez notre équipe support à <b> support@metrooptic.fr </b>
               </p>
           </div>
       </div>
    </section>


    <section>
        <div>
            <form action="" method="post">
                <div>
                    <label for="">Nom & Premon<i class="c-red">*</i></label>
                    <input type="button" value="">
                </div>

                <div>
                    <label for="">Nom de l’entreprise<i class="c-red">*</i></label>
                    <input type="button" value="">
                </div>

                <div>
                    <label for="">Email<i class="c-red">*</i></label>
                    <input type="button" value="">
                </div>

                <div>
                    <label for="">Numéro de téléphone<i class="c-red">*</i></label>
                    <input type="button" value="">
                </div>

                <div>
                    <label for="">Sujet<i class="c-red">*</i></label>
                    <input type="button" value="">
                </div>

                <div class="flex-column " >
                    <label for="">Votre message<i class="c-red">*</i></label>
                    <textarea class="w-99" name="" id="" cols="30" rows="10"></textarea>
                </div>

                <div class="flex-center send-form">
                    <a href="">Envoyez ma demande </a>
                </div>

                <div>
                    <p>* Champs obligatoires. La protection des données nous tient à coeur. Métro Optic utilise les informations que vous fournissez afin de vous proposer l’offre la plus adaptée à votre besoin. Pour plus d’informations, consultez notre politique de confidentialité.</p>
                </div>
                
            </form>
        </div>
    </section>

</body>
</html>
