<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.svg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/index.js') }}">
    <script src="{{ url_for('static', filename='js/get_screen_size.js') }}"></script>
    <script src="{{ url_for('static', filename='js/phone.js') }}"></script>
    <title>Acceuil</title>
</head>

<body>
   <!--Navbar-->
   <section>
    <div class="navbar">
        <div class="flex space-between  p-10">
            <div class="flex-center">
                <a href="/">
                    <img height="40px" src="{{ url_for('static', filename='images/logo-short.svg') }}" alt="logo">
                </a>
                
            </div>

            <div class="flex-center" id="menu" onclick="openNav()">
                <img height="40px"  class="" src="{{ url_for('static', filename='images/menu.svg') }}" alt="menu">
            </div>
        </div>
    </div>

    <section id="menu-nav-phone" class="menu-nav-phone hide ">
        <div class="flex-column flex-center">
            <a class="pr-contact" href="/contact">Prendre contact</a>
            <a class="btn-call" href="/contact">01.76.49.48.60</a>
        </div>

        <div class="ma-80">
            <div class="flex space-between zone-menu">
                <p class="titre">Accès Internet</p>
                <div class="flex-center">
                    <div>chevron</div>
                </div>
            </div>
            <ul>
                <li> <a href="/phone_ftth">Fibre sur reseaux mutualisés</a></li>
                <li> <a href="/phone_ftth">Fibre sur réseau dédiée</a></li>
                <li> <a href="/phone_iot">Solutions 4G/5G</a></li>
            </ul>
        </div>

        <div class="ma-80">

            <div class="flex space-between zone-menu">
                <p class="titre flex-center">Cyber Sécurité</p>
                <div class="flex-center">
                    <div>chevron</div>
                </div>
            </div>

            <ul>
                <li> <a href="http://">Sécurité entreprise</a></li>
                <li> <a href="http://">Solution IoT</a></li>
            </ul>
        </div>

        <div class="ma-80">

            <a class="titre" href="http://"> Data center & Télécom </a>


        </div>
    </section>


    </section>

    

    <!--Navbar-->

    <section class="m-80">
        <div class="zone-ftth">
            <div class="flex-center mb-20 image-dev">
                <img class="w-60" src="{{ url_for('static', filename='images/illustration-ftto.svg') }}" alt="">
            </div>

            <div class="flex-column flex-center">
                <div class="flex-column ">
                    <div class="mb-20">
                        <p class="titre1">LA FIBRE ENTREPRISE DÉDIÉE FTTO :</p>
                        <p class="titre1 "> UN ACCÈS HAUT DÉBIT PREMIUM,</p>
                        <p class="titre1 "> LA SÉRÉNITÉ EN PLUS !</p>
                    </div>

                    <div class="mb-20">
                        <p class="titre2">
                            La fibre dédiée est la solution d’accès internet recommandée pour les entreprises souhaitant offrir une expérience optimale à leurs utilisateurs et garantir leur continuité d’activité.
                        </p>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="  zone-fibre">
        <div class="flex space-between ma-80 ">
            <div class="flex-center">
                <h4>La Fibre Entreprise FTTO</h4>
            </div>

            <div class="flex-center">
                <img width="40px" height="40px" class="" src="{{ url_for('static', filename='images/chevron.svg') }}"
                    alt="">
            </div>
        </div>

        <div class="ma-80 ">
            <p>La gamme FTTO Metro Optic permet de bénéficier d’un accès internet aux débits asymétriques allant
                jusqu’à 1 Gbps.</p>
        </div>
    </section>

    <section>
        <div id="id_fibre_FTTO" class="contenu-offre ">


            <div class="flex  space-around">

                <div class="offre ">
                    <article class="">
                        <div>
                            <h1 class="titre">La Fibre Entreprise Mutualisée</h1>
                            <p class="start"> A partir de </p>
                            <div class="flex flex-center zone-prix">
                                <div class="flex flex-center">
                                    <p class="price">59,99</p>
                                </div>
                                <div class="flex flex-column flex-center">
                                    <p class="devise">€ HT</p>
                                    <p class="devise">/mois</p>

                                </div>
                            </div>
                            <div class="flex-center flex-column ">
                                <button class="buy">Commander</button>
                                <button class="compare">Comparer</button>
                            </div>

                        </div>

                        <div class="flex m-40 bty">
                            <div class="flex-center mr-10">
                                <img width="40px" height="40px" class=""
                                    src="{{ url_for('static', filename='images/VPN.svg') }}" alt="">
                            </div>
                            <div>
                                <p class="sous-titre"> La performance de la fibre dédiée 
                                </p>
                                <p class="sous-titre"> FTTO, SAV proactif inclus</p>
                            </div>

                        </div>

                        <div class="m-40">
                            <div class="flex">
                                <div class="mr-10"><img width="40px" height="40px" class=""
                                        src="{{ url_for('static', filename='images/fibre.svg') }}" alt=""></div>
                                <div class="flex-center ">
                                    <p class="sous-titre ">Fibre 100% dédiée FTTO</p>
                                </div>
                            </div>

                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/down.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div class="flex-center">
                                            <p class="elt flex-center ">Débit de 10 Mbps à 1 Gbps selon zone</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/up.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Débit symétrique et garanti</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Ip public inclus</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Garantie de Temps de Rétablissement 4H</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="m-40">
                            <div class="flex ">
                                <div class="mr-10"><img width="40px" height="40px" class=""
                                        src="{{ url_for('static', filename='images/accompagnement.svg') }}" alt="">
                                </div>
                                <div class="flex-center">
                                    <p class="sous-titre ">Accompagnement proactif</p>
                                </div>
                            </div>

                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10 "><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Horaires étendus du support technique :</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Supervision de votre accès 24H/7J</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Du lundi au samedi de 8h à 22h</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="m-40">
                            <div class="flex btg">
                                <div class="mr-10"><img width="40px" height="40px" class=""
                                        src="{{ url_for('static', filename='images/accompagnement.svg') }}" alt="">
                                </div>
                                <div class="flex-center">
                                    <p class="sous-titre ">En option</p>
                                </div>
                            </div>

                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Cyber-sécurité : Pare-feu nouvelle génération</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Fibre :</p>
                                            <p>Fibre ultra haut débit 10 Gbps</p>
                                            <p>Raccordement multi-site (SD-WAN, MPLS…)</p>
                                        </div>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                    </article>

                </div>

            </div>


        </div>
    </section>

    <section>
        <div class="ma-80 zone-option">
            <div>
                <h1 class="white">Possibilité En Option</h1>

                <p>Cyber-sécurité :</p>
                <p>Pare-feu nouvelle génération</p>
                <p>IP publique</p>
            </div>
        </div>

        <div class="flex-center">
            <a class="btn-eligibilite" href="">Testez mon éligibilité</a>
        </div>

    </section>


    <!--Fibre 2-->
    <section class="  zone-fibre">
        <div class="flex space-between ma-80 ">
            <div class="flex-center">
                <h4>La Fibre Entreprise FTTO </h4>
            </div>

            <div class="flex-center">
                <img width="40px" height="40px" class="" src="{{ url_for('static', filename='images/chevron.svg') }}"
                    alt="">
            </div>
        </div>

        <div class="ma-80 ">
            <p>La gamme FTTO Metro Optic permet de bénéficier d’un accès internet aux débits asymétriques allant
                jusqu’à 1 Gbps.</p>
        </div>
    </section>

    <section>
        <div id="id_fibre_FTTO" class="contenu-offre ">


            <div class="flex  space-around">

                <div class="offre ">
                    <article class="">
                        <div>
                            <h1 class="titre">La performance de la fibre dédiée </h1>
                            <h2 class="titre">FTTO, SAV proactif 6j/7 inclus </h2>

                            <p class="start"> A partir de </p>
                            <div class="flex flex-center zone-prix">
                                <div class="flex flex-center">
                                    <p class="price">59,99</p>
                                </div>
                                <div class="flex flex-column flex-center">
                                    <p class="devise">€ HT</p>
                                    <p class="devise">/mois</p>

                                </div>
                            </div>
                            <div class="flex-center flex-column ">
                                <button class="buy">Commander</button>
                                <button class="compare">Comparer</button>
                            </div>

                        </div>

                        <div class="flex m-40 bty">
                            <div class="flex-center mr-10">
                                <img width="40px" height="40px" class=""
                                    src="{{ url_for('static', filename='images/VPN.svg') }}" alt="">
                            </div>
                            <div>
                                <p class="sous-titre"> La performance de la fibre dédiée
                                </p>
                                <p class="sous-titre"> FTTO, SAV proactif 6j/7 inclus</p>
                            </div>

                        </div>

                        <div class="m-40">
                            <div class="flex">
                                <div class="mr-10"><img width="40px" height="40px" class=""
                                        src="{{ url_for('static', filename='images/fibre.svg') }}" alt=""></div>
                                <div class="flex-center ">
                                    <p class="sous-titre ">Fibre 100% dédiée FTTO</p>
                                </div>
                            </div>

                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/down.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div class="flex-center">
                                            <p class="elt flex-center ">De 10 Mbps à 1 Gbps selon zone</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/up.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Débit symétrique et garanti</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Ip public inclus</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Garantie de Temps de Rétablissement 4H</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="m-40">
                            <div class="flex ">
                                <div class="mr-10"><img width="40px" height="40px" class=""
                                        src="{{ url_for('static', filename='images/accompagnement.svg') }}" alt="">
                                </div>
                                <div class="flex-center">
                                    <p class="sous-titre ">Continuité de service</p>
                                </div>
                            </div>

                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10 "><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Back-up 4G/5G</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Bascule automatique en cas de coupure fibre</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Persistance de l’ip public en 4G/5G</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="m-40">
                            <div class="flex ">
                                <div class="mr-10"><img width="40px" height="40px" class=""
                                        src="{{ url_for('static', filename='images/accompagnement.svg') }}" alt="">
                                </div>
                                <div class="flex-center">
                                    <p class="sous-titre ">Accompagnement proactif</p>
                                </div>
                            </div>

                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10 "><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Supervision de votre accès 24H/7J</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Horaires étendus du support technique :</p>
                                            <p>Du lundi au samedi de 8h à 22h</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Alerte par sms et e-mail en cas de coupure internet</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="m-40">
                            <div class="flex btg">
                                <div class="mr-10"><img width="40px" height="40px" class=""
                                        src="{{ url_for('static', filename='images/accompagnement.svg') }}" alt="">
                                </div>
                                <div class="flex-center">
                                    <p class="sous-titre ">En option</p>
                                </div>
                            </div>

                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Cyber-sécurité : Pare-feu nouvelle génération</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Fibre :</p>
                                            <p>Fibre ultra haut débit 10 Gbps</p>
                                            <p>Raccordement multi-site</p>
                                        </div>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                    </article>

                </div>

            </div>


        </div>
    </section>

    <section>
        <div class="ma-80 zone-option">
            <div>
                <h1 class="white">Possibilité En Option</h1>

                <p>Cyber-sécurité :</p>
                <p>Pare-feu nouvelle génération</p>
                <p>IP publique</p>
            </div>
        </div>

        <div class="flex-center">
            <a class="btn-eligibilite" href="">Testez mon éligibilité</a>
        </div>

    </section>


    <!--Backup 4g-->

    <section>
        <div class="bg-blue zone-4g">
            <div class="ma-80">
                <div class="flex space-between ">
                    <p>Solution de secours 4G/5G</p>
                    <p>v</p>
                </div>

                <div>
                    <p>Sécurisez votre accès internet principal avec notre solution de secours 4G/5G</p>
                </div>
            </div>
        </div>

    </section>

    <section>
        <div class="backup4g">
            <div class="flex space-around zone-offre-4G">
                <div class="contenu-offre offre4G">
                    <div class="box">
                        <div class="flex-center flex-column">
                            <h1>Le back-up 4G/5G c'est bien ! Mais comment ça marche ?</h1>
                            <button>Commander</button>
                        </div>
                        <div class="content">
                            <p>L’option back-up 4G+ illimité vous permet de palier à toute coupure de votre connexion
                                fibre principale. Simple à installer, le modem 4G se branche directement sur notre
                                routeur Métro Optic. Vous n’avez rien à faire d’autre. </p>

                            <p>En cas d’incident sur l’accès internet fixe principal, la bascule est immédiate et
                                transparente. Tous les appareils initialement connectés bénéficient à nouveau d’internet
                            </p>
                        </div>

                    </div>
                </div>


            </div>

            <div class="flex-center schema-fonc">
                <img width="100%" class="" src="{{ url_for('static', filename='images/schema-fonc.svg') }}" alt="">
            </div>

        </div>
    </section>


    <!--footer -->

    <section class="footer">
        <div class="flex-column ma-80">
            <div>
                <div class="flex space-between">
                    <p>Entreprise</p>
                    <p>X</p>
                </div>

                <div>
                    <ul>
                        <li> <a href="http://"> A propos</a> </li>
                        <li><a href="http://">Blog </a> </li>
                        <li><a href="http://">Contact </a> </li>
                        <li><a href="http://">FAQ </a></li>
                        <li><a href="">Devenir Partenaire</a></li>
                    </ul>
                </div>
            </div>

            <div>
                <div class="flex space-between">
                    <p>Offres</p>
                    <p>X</p>
                </div>

                <div>
                    <ul>
                        <li> <a href="http://">Secours 4G/5G</a> </li>
                        <li> <a href="">Fibre Optique Pro</a> </li>
                        <li> <a href="http://">Cyber-Défense</a> </li>
                        <li><a href="http://">IoT </a> </li>
                        <li><a href="http://">Cloud </a> </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="flex space-between ma-80 mt-20">
            <div class="flex space-between follow ">
                <a class="flex-center ml-20">Suivrez-Nous</a>
            </div>

            <div class="client">
                <a>Espace Client</a>
            </div>
        </div>

    </section>


    <section class="footer-bottom">
        <div class="ma-80 ">
            <div>
                <img width="80%" class="" src="{{ url_for('static', filename='/images/logo-black.svg') }}" alt="">

                <p>72 Rue Sadi Carnot, 92170 Vanves</p>
            </div>

            <div>
                <p>© 2023 Métro Optic | Tous droits réservés</p>

                <p>Mentions légales & CGU | CGV - Cookies Politique de confidentialité</p>
            </div>
        </div>


    </section>




</body>

</html>