<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.svg') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/get_screen_size.js') }}"></script>
    <title>4G/5G</title>
</head>

<body>
<!--Navbar-->
<section>
    <div class="navbar">
        <div class="flex space-between  p-10">
            <div class="flex-center">
                <a href="/">
                    <img height="40px" src="{{ url_for('static', filename='images/logo-short.svg') }}" alt="logo">
                </a>
                
            </div>

            <div class="flex-center" id="menu" onclick="openNav()">
                <img height="40px"  class="" src="{{ url_for('static', filename='images/menu.svg') }}" alt="menu">
            </div>
        </div>
    </div>

    <section id="menu-nav-phone" class="menu-nav-phone hide ">
        <div class="flex-column flex-center">
            <a class="pr-contact" href="/contact">Prendre contact</a>
            <a class="btn-call" href="/contact">01.76.49.48.60</a>
        </div>

        <div class="ma-80">
            <div class="flex space-between zone-menu">
                <p class="titre">Accès Internet</p>
                <div class="flex-center">
                    <div>chevron</div>
                </div>
            </div>
            <ul>
                <li> <a href="/phone_ftth">Fibre sur reseaux mutualisés</a></li>
                <li> <a href="/phone_ftth">Fibre sur réseau dédiée</a></li>
                <li> <a href="/phone_iot">Solutions 4G/5G</a></li>
            </ul>
        </div>

        <div class="ma-80">

            <div class="flex space-between zone-menu">
                <p class="titre flex-center">Cyber Sécurité</p>
                <div class="flex-center">
                    <div>chevron</div>
                </div>
            </div>

            <ul>
                <li> <a href="http://">Sécurité entreprise</a></li>
                <li> <a href="http://">Solution IoT</a></li>
            </ul>
        </div>

        <div class="ma-80">

            <a class="titre" href="http://"> Data center & Télécom </a>


        </div>
    </section>


    </section>

    

    <!--Navbar-->

    <section>
        <div class="flex space-between presentation-offre mtb">
            <div class="w-50 flex-column flex-center">
                <div class="flex-column ">
                    <div class="mb-20">
                        <p class="titre1">Nos offres 4G/5G </p>
                    </div>

                    <div class="mb-20">
                        <p class="titre2">
                            Un accès internet sans fil performant, instantanément
                        </p>
                    </div>

                    <div class="mb-20">
                        <p class="titre2">Offres réservées aux professionnels et aux entreprises. Engagement 1 an, multi-opérateur, livré à J+1.</p>
                    </div>
                </div>
            </div>
            <div class="w-50">
                <img class="illustration flex-center" src="{{ url_for('static', filename='images/illustation2-4G-5G.svg') }}" alt="">
            </div>
        </div>
       
    </section>


    <section class="flex-center">
        <div class="annonce ">
           <div class="flex  conteneur">
            <div class="offre-4G-5G">
                <div>
                    <p>Votre accès internet est en panne ? </p>
                    <p>Nous vous déployons en urgence un</p>
                    <p>accès 4G/5G</p>
                </div>
                <div class="flex-center mt-20">
                    <button class="btn-annonce">SOS 4G/5G</button>
                </div>
            </div>

            <div class="offre-4G-5G">
                <div>
                    <p>Vous habitez une zone où la fibre n’est  </p>
                    <p>pas déployée ? Nous vous fournissons</p>
                    <p>un accès principal en 4G/5G</p>
                </div>
                <div class="flex-center mt-20">
                    <button class="btn-annonce">Internet 4G/5G</button>
                </div>
            </div>

            <div class="offre-4G-5G">
                <div>
                    <p>Vous avez déjà une fibre mais souhaitez</p>
                    <p>un accès secondaire de secours ? Nous</p>
                    <p>vous fournissons un accès en 4G/5G</p>
                </div>
                <div class="flex-center mt-20">
                    <button class="btn-annonce">Accès secondaire 4G/5G</button>
                </div>
            </div>
        </div>
    </section>

    <section class="">

        <!-- bandeau noire -->
        <div class="bandeau-noire">

        </div>

        <!-- offre Fibre-->
        <div  id="id_fibre_FTTO" class="contenu-offre ">
           

            <div class="flex  space-around">
                
                <div class="offre ">
                    <article class="">
                        <div>
                            <h1 class="titre">Solution d’urgence 4G/5G</h1>
                            <p class="start"> A partir de </p>
                            <div class="flex flex-center zone-prix">
                                <div class="flex flex-center">
                                    <p class="price">59,99</p>
                                </div>
                                <div class="flex flex-column flex-center">
                                    <p class="devise">€ HT</p>
                                    <p class="devise">/mois</p>
                                   
                                </div>
                            </div>
                            <div class="flex-center flex-column ">
                                <button class="buy">Commander</button>
                                <button class="compare">Comparer</button>
                            </div>
                            
                        </div>

                        <div class="flex m-40 bty" >
                            <div class="flex-center mr-10" >
                                <img width="40px" height="40px" class="" src="{{ url_for('static', filename='images/VPN.svg') }}" alt="">
                            </div>
                            <div>
                                <p class="sous-titre"> Branchez votre routeur et collaborez
                                </p>
                                <p class="sous-titre"> en ligne, tout simplement !</p>
                            </div>
                            
                        </div>

                        <div class="m-40">
                            <div class="flex">
                                <div class="mr-10"><img width="40px" height="40px" class="" src="{{ url_for('static', filename='images/fibre.svg') }}" alt=""></div>
                                <div class="flex-center "><p class="sous-titre ">Fibre mutualisée FTTH</p></div>
                            </div>
                            
                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div >
                                            <div class="mr-10"><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/down.svg') }}" alt=""></div>
                                        </div>
                                        <div class="flex-center">
                                            <p class="elt flex-center ">Data illimitée en France</p>
                                        </div>
                                    </div>  
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/up.svg') }}" alt=""></div>
                                        </div>
                                        <div>
                                            <p class="elt">Très haut débit jusqu’à 1 Gbps</p>
                                        </div>
                                    </div>  
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/check.svg') }}" alt=""></div>
                                        </div>
                                        <div>
                                            <p class="elt">Wi-Fi jusqu’à 64 connexions simultanées</p>
                                        </div>
                                    </div>  
                                </li>
                            </ul>
                        </div>                  

                        <div class="m-40">
                            <div class="flex ">
                                <div class="mr-10"><img width="40px" height="40px" class="" src="{{ url_for('static', filename='images/accompagnement.svg') }}" alt=""></div>
                                <div class="flex-center"> <p class="sous-titre ">Le + de cette solution</p></div>
                            </div>
                           
                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10 "><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/check.svg') }}" alt=""></div>
                                        </div>
                                        <div>
                                            <p class="elt">Vous êtes livrés sous 2 à 4 jours !</p>
                                        </div>
                                    </div>                     
                                </li>   
                        </div>

                        <div class="m-40">
                            <div class="flex btg">
                                <div class="mr-10"><img width="40px" height="40px" class="" src="{{ url_for('static', filename='images/accompagnement.svg') }}" alt=""></div>
                                <div class="flex-center"> <p class="sous-titre ">En option</p></div>
                            </div>
                           
                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/check.svg') }}" alt=""></div>
                                        </div>
                                        <div>
                                            <p class="elt">Cyber-sécurité : Pare-feu nouvelle génération</p>
                                        </div>
                                    </div>                     
                                </li>

                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/check.svg') }}" alt=""></div>
                                        </div>
                                        <div>
                                            <p class="elt">Service managé :</p>
                                            <p>Supervision / GTR / Boitier Extérieur</p>
                                        </div>
                                    </div> 
                                </li>
                            
                            </ul>
                        </div>
                     </article>
                    
                </div>
                <div class="flex-center">
                    <img class="" width="100%"  src="{{ url_for('static', filename="images/illustration - sos 4G-5G.svg") }}" alt="">
                </div>
            </div>
        </div>

    </section>

    <section class="">

        <!-- bandeau jaune -->
        <div class="bandeau-jaune">

        </div>

        <!-- offre Fibre-->
        <div  id="id_fibre_FTTO" class="contenu-offre ">
           

            <div class="flex  space-around">
                
                <div class="offre ">
                    <article class="">
                        <div>
                            <h1 class="titre">Accès internet 4G/5G</h1>
                            <p class="start"> A partir de </p>
                            <div class="flex flex-center zone-prix">
                                <div class="flex flex-center">
                                    <p class="price">79,99</p>
                                </div>
                                <div class="flex flex-column flex-center">
                                    <p class="devise">€ HT</p>
                                    <p class="devise">/mois</p>
                                   
                                </div>
                            </div>
                            <div class="flex-center flex-column ">
                                <button class="buy">Commander</button>
                                <button class="compare">Comparer</button>
                            </div>
                            
                        </div>

                        <div class="flex m-40 bty" >
                            <div class="flex-center mr-10" >
                                <img width="40px" height="40px" class="" src="{{ url_for('static', filename='images/VPN.svg') }}" alt="">
                            </div>
                            <div>
                                <p class="sous-titre"> Branchez votre routeur et collaborez
                                </p>
                                <p class="sous-titre">  tout simplement !</p>
                            </div>
                            
                        </div>

                        <div class="m-40">
                        
                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div class="">
                                            <div class="mr-10"><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/down.svg') }}" alt=""></div>
                                        </div>
                                        <div class="flex-center">
                                            <p class="elt flex-center ">Data illimitée en France</p>
                                        </div>
                                    </div>  
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/up.svg') }}" alt=""></div>
                                        </div>
                                        <div>
                                            <p class="elt">Très haut débit jusqu’à 1 Gbps</p>
                                        </div>
                                    </div>  
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/check.svg') }}" alt=""></div>
                                        </div>
                                        <div>
                                            <p class="elt">Wi-Fi jusqu’à 64 connexions simultanées</p>
                                        </div>
                                    </div>  
                                </li>
                            </ul>
                        </div>                  

                        <div class="m-40">
                            <div class="flex ">
                                <div class="mr-10"><img width="40px" height="40px" class="" src="{{ url_for('static', filename='images/accompagnement.svg') }}" alt=""></div>
                                <div class="flex-center"> <p class="sous-titre ">Le + de cette solution</p></div>
                            </div>
                           
                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/check.svg') }}" alt=""></div>
                                        </div>
                                        <div>
                                            <p class="elt">Vous êtes livrés sous 2 à 4 jours !</p>
                                        </div>
                                    </div>                     
                                </li>
                            </ul>
                        </div>

                        <div class="m-40">
                            <div class="flex btg">
                                <div class="mr-10"><img width="40px" height="40px" class="" src="{{ url_for('static', filename='images/accompagnement.svg') }}" alt=""></div>
                                <div class="flex-center"> <p class="sous-titre ">En option</p></div>
                            </div>
                           
                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/check.svg') }}" alt=""></div>
                                        </div>
                                        <div>
                                            <p class="elt">Cyber-sécurité : Pare-feu nouvelle génération</p>
                                        </div>
                                    </div>                     
                                </li>

                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/check.svg') }}" alt=""></div>
                                        </div>
                                        <div>
                                            <p class="elt">Service managé :</p>
                                            <p>Supervision / GTR / Boitier Extérieur</p>
                                        </div>
                                    </div> 
                                </li>
                            </ul>
                        </div>
                     </article>
                    
                </div>
                <div class="flex-center">
                    <img class="" width="100%"  src="{{ url_for('static', filename="images/schéma-explicatif-4g.svg") }}" alt="">
                </div>
            </div>
        </div>
    </section>

    <section>
        <header class="flex space-between info_pub">
            

            <div class="flex-center flex-column">
                <h1>Besoin d'informations ?</h1>
                <p>N'hésitez pas à soliciter mon équipe</p>
            </div>

            <div class="flex-center">
                <button>Obtenir des informations</button>
            </div>

        </header>
    </section>

    <section class="avantages">
        <div class="">

            <div class="avantage-box  m-auto">
                <div class="flex flex-column flex-center">
                    <div class="flex ">
                        <div>
                            <img class="" src="{{ url_for('static', filename='images/icone-plug-and-play.svg') }}" alt="">  
                        </div>
                        <div> 
                            <h1>Plug & play</h1>
                        </div>
                    </div>

                <div>
                    <p class="subtitle"> Vous branchez, vous surfez !</p>
                </div>

                <div class="flex-center">
                    <p class="description"> En mode plug & play branchez votre routeur et collaborez en ligne sous 2 à 4 jours.</p>
                </div>
                </div>
            </div>

            <div class="avantage-box m-auto">
                <div class="flex flex-column flex-center">
                    <div class="flex ">
                        <div><img class="" src="{{ url_for('static', filename='images/icone-plug-and-play.svg') }}" alt=""> </div>
                        <div> 
                            <h1>Managé</h1>
                        </div>
                    </div>

                <div>
                    <p class="subtitle"> Une installation sur site assurée !</p>
                </div>

                <div class="flex-center">
                    <p class="description"> Avec la solution managé, un technicien se déplace et installe les services Internet supervisé et/ou VPN MPLS en très haut débit 4G/5G pour offrir à vos collaborateurs un accès immédiat à leurs outils en ligne et applications métiers.</p>
                </div>
                </div>
            </div>
        </div>


        <div class="">
            <div class="avantage-box m-auto">
                <div class="flex flex-column flex-center">
                    <div class="flex ">
                        <div><img class="" src="{{ url_for('static', filename='images/icone-plug-and-play.svg') }}" alt=""> </div>
                        <div> 
                            <h1>Une installation sur site assurée !</h1>
                        </div>
                    </div>

                <div>
                    <p class="subtitle"> Vous branchez, vous surfez !</p>
                </div>

                <div class="flex-center">
                    <p class="description"> En mode plug & play branchez votre routeur et collaborez en ligne sous 2 à 4 jours.</p>
                </div>
                </div>
            </div>

            <div class="avantage-box m-auto">
                <div class="flex flex-column flex-center">
                    <div class="flex ">
                        <div><img class="" src="{{ url_for('static', filename='images/icone-plug-and-play.svg') }}" alt=""></div>
                        <div> 
                            <h1>Cyber-sécurité</h1>
                        </div>
                    </div>

                <div>
                    <p class="subtitle"> Vous branchez, vous surfez !</p>
                </div>

                <div class="flex-center">
                    <p class="description"> En mode plug & play branchez votre routeur et collaborez en ligne sous 2 à 4 jours.</p>
                </div>
                </div>
            </div>
        </div>
    </section>


    <section class="package">
        <div class="flex-center">
            <h1>Découvrez toutes nos offres Packages</h1>
        </div>

        <div class="flex-center ">
            <div class="">
                <div class="">
                    <img width="100%" class="" src="{{ url_for('static', filename='images/FTTO-4G-5G-ilustration.svg') }}" alt="">
                </div>
    
                <div>
                    <img width="100%" class="" src="{{ url_for('static', filename='images/FTTO-4G-5G-ilustration.svg') }}" alt="">
                </div>
                
            </div>
        </div>

    </section>

    <section class="footer">
        <div class="flex-column ma-80">
            <div class="bb-phone">
                <div class="flex space-between">
                    <p>Entreprise</p>
                    <p onclick="closeCompanyLink()">X</p>
                </div>

                <div id="close_Company_link">
                    <ul>
                        <li> <a href="http://"> A propos</a> </li>
                        <li><a href="http://">Blog </a> </li>
                        <li><a href="http://">Contact </a> </li>
                        <li><a href="http://">FAQ </a></li>
                        <li><a href="">Devenir Partenaire</a></li>
                    </ul>
                </div>
            </div>

            <div>
                <div class="flex space-between">
                    <p>Offres</p>
                    <p onclick="closeOffersLink()">X</p>
                </div>

                <div id="close_Offers_link">
                    <div class="bb-phone">
                        <ul>
                            <li> <a href="http://">Secours 4G/5G</a> </li>
                            <li> <a href="">Fibre Optique Pro</a> </li>
                            <li> <a href="http://">Cyber-Défense</a> </li>
                            <li><a href="http://">IoT </a> </li>
                            <li><a href="http://">Cloud </a> </li>
                        </ul>
                    </div>
                </div>
        </div>

        <div class="flex space-between ma-80 mt-20">
            <div class="flex space-between follow ">
                <a class="flex-center ml-20">Suivrez-Nous</a>
            </div>

            <div class="client">
                <a>Espace Client</a>
            </div>
        </div>

    </section>


    <section class="footer-bottom">
        <div class="ma-80 ">
            <div>
                <img width="80%" class="" src="{{ url_for('static', filename=" ./images/logo-black.svg") }}" alt="">

                <p>72 Rue Sadi Carnot, 92170 Vanves</p>
            </div>

            <div>
                <p>© 2023 Métro Optic | Tous droits réservés</p>

                <p>Mentions légales & CGU | CGV - Cookies Politique de confidentialité</p>
            </div>
        </div>


    </section>
</body>
</html>