<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.svg') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/phone.js') }}"></script>
    <script src="{{ url_for('static', filename='js/get_screen_size.js') }}"></script>
    <title>DATA CENTER</title>
</head>

<body>
   <!--Navbar-->
   <section>
    <div class="navbar">
        <div class="flex space-between  p-10">
            <div class="flex-center">
                <a href="/">
                    <img height="40px" src="{{ url_for('static', filename='images/logo-short.svg') }}" alt="logo">
                </a>
                
            </div>

            <div class="flex-center" id="menu" onclick="openNav()">
                <img height="40px"  class="" src="{{ url_for('static', filename='images/menu.svg') }}" alt="menu">
            </div>
        </div>
    </div>

    <section id="menu-nav-phone" class="menu-nav-phone hide ">
        <div class="flex-column flex-center">
            <a class="pr-contact" href="/contact">Prendre contact</a>
            <a class="btn-call" href="/contact">01.76.49.48.60</a>
        </div>

        <div class="ma-80">
            <div class="flex space-between zone-menu">
                <p class="titre">Accès Internet</p>
                <div class="flex-center">
                    <div>chevron</div>
                </div>
            </div>
            <ul>
                <li> <a href="/phone_ftth">Fibre sur reseaux mutualisés</a></li>
                <li> <a href="/phone_ftth">Fibre sur réseau dédiée</a></li>
                <li> <a href="/phone_iot">Solutions 4G/5G</a></li>
            </ul>
        </div>

        <div class="ma-80">

            <div class="flex space-between zone-menu">
                <p class="titre flex-center">Cyber Sécurité</p>
                <div class="flex-center">
                    <div>chevron</div>
                </div>
            </div>

            <ul>
                <li> <a href="http://">Sécurité entreprise</a></li>
                <li> <a href="http://">Solution IoT</a></li>
            </ul>
        </div>

        <div class="ma-80">

            <a class="titre" href="http://"> Data center & Télécom </a>


        </div>
    </section>


    </section>

    

    <!--Navbar-->



    <section>
        <div class="flex space-between offre-data-center mtb">
            <div class="flex-column flex-center">
                <div class="flex-column ">
                    <div>
                        <h1 class="titre">
                            METRO OPTIC OPÉRATEUR DATA SÉCURISÉ
                        </h1>
                    </div>
                    <div class="mb-10 ml-40">
                        <p class="titre1">Backbone nationale </p>
                        <p class="titre1 "> Ultra redondant </p>
                        <p class="titre1 "> Cybersécurisé </p>
                    </div>

                    <div class=""0>
                        <p class="titre2">
                            Votre activité dépend de la fiabilité de votre connexion internet
                        </p>
                        <p class="titre2">et de la protection de vos outils informatiques. Votre activité</p>
                        <p class="titre2">dépend de la fiabilité de votre connexion internet</p>
                    </div>
                </div>
            </div>
            <div class="flex-center m-auto">
             
                    <img class="illustration " src="{{ url_for('static', filename='images/globe.svg') }}" alt="">
                
            </div>
        </div>
       
    </section>

    

    <section class="flex-center data-annonce">
        <div class="annonce ">
           <div class="flex flex-column conteneur">
                <div class="annonce-plus">
                    <img width="30px" height="30px" src="{{ url_for('static', filename='images/+.svg') }}" alt="logo" srcset=""/>
                </div>
                <div class="flex-center zone-p">
                    <p>Métro Optic propose plusieurs gammes d’abonnements internet fibre optique. Chacune de ces gammes ont été imaginées pour répondre aux besoins des entreprises. La gamme FTTH Pro Metro Optic permet de bénéficier d’un accès internet aux débits asymétriques allant jusqu’à 1 Gbps.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="flex-center m-80">
            <img width="70%" height="70%"; src="{{ url_for('static', filename='images/schéma-backbone.png') }}" alt="">
        </div>
    </section>

    <section class=" ">
        <div class="flex space-between pres-data mtb">
            <div class="w-50 space-between">
                <div class="mb-20">
                    <p class="titre1">DES DATA CENTERS ULTRA </p>
                    <p class="titre1">PERFORMANTS</p>
                </div>

                <div class="pt-10">
                    <p class="titre2">
                        Les entreprises sont de plus en plus dépendantes de leur
                    </p>
                    <p class="titre2">
                        système d’informations. Les infrastructures qui les hébergent
                    </p>
                    <p class="titre2">
                        ont indispensables à leur bon fonctionnement.
                    </p>
                </div>
                
            </div>
            <div class="w-50 flex-center">
                <img class="illustration" src="{{ url_for('static', filename='images/illustration_photo_data_center.svg') }}" alt="">
            </div>
        </div>
       
    </section>

    <section class="contenant-blue flex-center">
        <div class="flex  offre-data-center">
            <div class="zone-offre">

                <div class="flex line">
                    <div class="mr-10">
                        <img class="icone-service"  src="{{ url_for('static', filename='images/daata-center_ico.svg') }}" alt="">
                    </div>


                    <div class="flex-center">
                        <p>
                            Hébergement (serveurs web, Virtual machine, espace de stockage, unité en rack)
                        </p>
                    </div>
                </div>

                <div class="flex line">
                    <div class="mr-10">
                        <img class="icone-service"  src="{{ url_for('static', filename='images/ip.svg') }}" alt="">
                    </div>

                    <div class="flex-center">
                        <p>
                            Transit IP (Accès Internet en Data-center)
                        </p>
                    </div>
                </div>

                <div class="flex line">
                    <div class="mr-10">
                        <img class="icone-service"  src="{{ url_for('static', filename='images/peering.svg') }}" alt="">
                    </div>
                    <div class="flex-center">
                        <div>
                            <p>
                                Peering BGP 
                            </p>

                            <p>- Remote peering to IXP</p>

                            <p>- Peering BGP to Metro Optic</p>
                        </div>
                        
                    </div>
                </div>

                <div class="flex line">
                    <div class="mr-10">
                        <img class="icone-service"  src="{{ url_for('static', filename='images/raccordement.svg') }}" alt="">
                    </div>
                    <div class="flex-center">
                        <p>
                            Raccordement de vos plateformes à celles de vos partenaires ( X-co/cross-co intra & inter DC)
                        </p>
                    </div>
                </div>

                <div class="flex line">
                    <div class="mr-10">
                        <img class="icone-service"  src="{{ url_for('static', filename='images/interconnexion-cloud.svg') }}" alt="">
                    </div>
                    <div class="flex-center">
                        <p>
                            Interconnexion vers les plus grands clouds publiques (AWS, GOOCLE, AZURE)
                        </p>
                    </div>
                </div>

            </div>

            
            <div class="bg-blue">
                <div class="demi-arc"></div>
            </div>
        </div>
    </section>

    <section>
        <div class="flex space-around pres-fibre">
            <div class="section-text flex-column">
                <div>
                    <h1 class="title">TÉLÉCOMMUNICATIONS</h1>

                </div>

                <div>
                    <p>
                        Soyez connectés avec nos solutions de télécommunications grâce à notre infrastructure dédiée sécurisée..
                    </p>
                </div>

                

                
            </div>

            <div class="section-image">
                <img height="300px" width="300px" class="" src="{{ url_for('static', filename="images/illustration_antenne_telecom.png") }}"
                    alt="">
            </div>

        </div>
    </section>

    <section class="contenant-blue flex-center ">
        <div class="flex  offre-data-center">
            <div class="bg-blue">
                <div class="demi-arc-g"></div>
            </div>
            

            <div class="zone-offre">
                
                <div class="flex line">
                    <div class="mr-10">
                        <img class="icone-service"  src="{{ url_for('static', filename='images/fibre_data.svg') }}" alt="">
                    </div>


                    <div class="data-service">
                        <p>
                            Services optiques
                        </p>

                        <p>
                            - Fibre Ultra Haut Débit (Fibre Noire FON) 
                        </p>

                        <p>
                            - Interconnexion de vos sites en Ultra Haut Débit jusqu’à 100 Gbps
                        </p>
                    </div>
                </div>

                <div class="flex line">
                    <div class="mr-10">
                        <img class="icone-service"  src="{{ url_for('static', filename='images/service-ethernet.svg') }}" alt="">
                    </div>

                    <div class="data-service">
                        <p>
                            Services Ethernet
                        </p>

                        <p>
                            - LAN To LAN (raccordement site à site)
                        </p>

                        <p>
                            - Hub and Spoke (raccordement multi-sites)
                        </p>
                    </div>
                </div>

                <div class="flex line">
                    <div class="mr-10">
                        <img class="icone-service"  src="{{ url_for('static', filename='images/ip.svg') }}" alt="">
                    </div>
                    <div class="data-service">
                        <p>
                            Services IP 
                        </p>

                        <p>
                            - Accès Internet sur Fibre Optique (FTTH/FTTO/FON)
                        </p>

                        <p>
                            - Accès Internet 4G/5G (SOS4G/5G) - Réseaux IP privés « VPN- MPLS » (raccordement multi-sites et routage inter-site)
                        </p>

                        <p>
                            - Réseaux IP privés avec un accès Internet centralisé pour le siège
                        </p>

                        <p>
                            - Réseaux IP privés avec des accès Internet locaux pour les filiales
                        </p>

                        <p>
                            - Réseaux IP privés « « SDWAN » (raccordements multi-sites avec liens secourus)
                        </p>
                    </div>
                </div>

                <div class="flex line">
                    <div class="mr-10">
                        <img class="icone-service"  src="{{ url_for('static', filename='images/cybersecurise.svg') }}" alt="">
                    </div>

                    <div class="data-service">
                        <p>
                            Cyber
                        </p>

                        <p>
                            - Sécurisation de vos flux (déploiement VPN / IPSEC / SLL…)
                        </p>

                        <p>
                            - Accès Internet Cyber-sécurisés (disponible pour votre fibre FTTH/FTTO/FON)
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <section>
        <div class="flex space-around pres-fibre">
            <div class="section-text flex-column">
                <div>
                    <h1 class="title">EXPERTISE TECHNIQUE</h1>

                </div>

                <div>
                    <p>
                        Soyez connectés avec nos solutions de télécommunications grâce à notre infrastructure dédiée sécurisée.
                    </p>
                </div>

                

                
            </div>

            <div class="section-image">
                <img height="300px" width="300px" class="" src="{{ url_for('static', filename="images/illustration_expertise_technique.png") }}"
                    alt="">
            </div>

        </div>
    </section>

    <section class="contenant-blue">
        <div class="flex space-between offre-data-center">
            <div class="zone-offre">

                <div class="flex line">
                    <div class="mr-10">
                        <img class="icone-service"  src="{{ url_for('static', filename='images/daata-center_ico.svg') }}" alt="">
                    </div>


                    <div class="flex-center">
                        <div>
                            <p>
                                Conseil et accompagnement sur vos projets d’infrastructure et
                            </p>

                            <p>
                                de système d’information :
                            </p>

                            <p>
                                - Plan de migration, Configuration, Déploiement, Recette
                            </p>
                        </div>
                        
                    </div>
                </div>

                <div class="flex line">
                    <div class="mr-10">
                        <img class="icone-service"  src="{{ url_for('static', filename='images/ip.svg') }}" alt="">
                    </div>

                    <div class="flex-center">
                        <div>
                            <p>
                                Infogérance de votre système d’information :
                            </p>

                            <p>- Exploitation</p>

                            <p>- Supervision</p>

                            <p>- Assistance</p>
                        </div>
                        
                    </div>
                </div>

                <div class="flex line">
                    <div class="mr-10">
                        <img class="icone-service"  src="{{ url_for('static', filename='images/peering.svg') }}" alt="">
                    </div>
                    <div class="flex-center">
                        <p>
                            Audit Cybersécurité / plan de remédiation
                        </p>
                    </div>
                </div>

            </div>

            
            <div class="bg-blue">
                <div class="demi-arc"></div>
            </div>
        </div>
    </section>


   




    <!--footer -->

    <section class="footer">
        <div class="flex-column ma-80">
            <div>
                <div class="flex space-between">
                    <p>Entreprise</p>
                    <p>X</p>
                </div>

                <div class="bb-phone">
                    <ul>
                        <li> <a href="http://"> A propos</a> </li>
                        <li><a href="http://">Blog </a> </li>
                        <li><a href="http://">Contact </a> </li>
                        <li><a href="http://">FAQ </a></li>
                        <li><a href="">Devenir Partenaire</a></li>
                    </ul>
                </div>
            </div>

            <div>
                <div class="flex space-between">
                    <p>Offres</p>
                    <p>X</p>
                </div>

                <div class="bb-phone">
                    <ul>
                        <li> <a href="http://">Secours 4G/5G</a> </li>
                        <li> <a href="">Fibre Optique Pro</a> </li>
                        <li> <a href="http://">Cyber-Défense</a> </li>
                        <li><a href="http://">IoT </a> </li>
                        <li><a href="http://">Cloud </a> </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="flex space-between ma-80 mt-20">
            <div class="flex space-between follow ">
                <a class="flex-center ml-20">Suivrez-Nous</a>
            </div>

            <div class="client">
                <a>Espace Client</a>
            </div>
        </div>

    </section>


    <section class="footer-bottom">
        <div class="ma-80 ">
            <div>
                <img width="80%" class="" src="{{ url_for('static', filename='/images/logo-black.svg') }}" alt="">

                <p>72 Rue Sadi Carnot, 92170 Vanves</p>
            </div>

            <div>
                <p>© 2023 Métro Optic | Tous droits réservés</p>

                <p>Mentions légales & CGU | CGV - Cookies Politique de confidentialité</p>
            </div>
        </div>


    </section>

</body>

</html>