<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.svg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/index.js') }}">
    <script src="{{ url_for('static', filename='js/get_screen_size.js') }}"></script>
    <script src="{{ url_for('static', filename='js/phone.js') }}"></script>
    <title>Acceuil</title>
</head>

<body>
    <!--Navbar-->
   <section>
    <div class="navbar">
        <div class="flex space-between  p-10">
            <div class="flex-center">
                <a href="/">
                    <img height="40px" src="{{ url_for('static', filename='images/logo-short.svg') }}" alt="logo">
                </a>
                
            </div>

            <div class="flex-center" id="menu" onclick="openNav()">
                <img height="40px"  class="" src="{{ url_for('static', filename='images/menu.svg') }}" alt="menu">
            </div>
        </div>
    </div>

    <section id="menu-nav-phone" class="menu-nav-phone hide ">
        <div class="flex-column flex-center">
            <a class="pr-contact" href="/contact">Prendre contact</a>
            <a class="btn-call" href="/contact">01.76.49.48.60</a>
        </div>

        <div class="ma-80">
            <div class="flex space-between zone-menu">
                <p class="titre">Accès Internet</p>
                <div class="flex-center">
                    <div>chevron</div>
                </div>
            </div>
            <ul>
                <li> <a href="/phone_ftth">Fibre sur reseaux mutualisés</a></li>
                <li> <a href="/phone_ftth">Fibre sur réseau dédiée</a></li>
                <li> <a href="/phone_iot">Solutions 4G/5G</a></li>
            </ul>
        </div>

        <div class="ma-80">

            <div class="flex space-between zone-menu">
                <p class="titre flex-center">Cyber Sécurité</p>
                <div class="flex-center">
                    <div>chevron</div>
                </div>
            </div>

            <ul>
                <li> <a href="http://">Sécurité entreprise</a></li>
                <li> <a href="http://">Solution IoT</a></li>
            </ul>
        </div>

        <div class="ma-80">

            <a class="titre" href="http://"> Data center & Télécom </a>


        </div>
    </section>


    </section>

    

    <!--Navbar-->

    <section class="m-80">
        <div class="zone-ftth">
            <div class="flex-center mb-20 image-dev">
                <img class="w-60" src="{{ url_for('static', filename='images/illustration-securite-entreprise.svg') }}" alt="">
            </div>

            <div class="flex-column flex-center">
                <div class="flex-column ">
                    <div class="mb-20">
                        <p class="titre1">PROTÉGER VOUS, VOS DONNÉES ET </p>
                        <p class="titre1 "> VOTRE RÉSEAU D’ENTREPRISE</p>
                    </div>

                    <div class="mb-20">
                        <p class="titre2">
                            Votre activité dépend de la fiabilité de votre connexion internet
                        </p>
                        <p class="titre2">et de la protection de vos outils informatiques.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="  zone-fibre">
        <div class="flex space-between ma-80 ">
            <div class="flex-center">
                <h4>Cyber-Défense Max</h4>
            </div>

            <div class="flex-center">
                <img width="40px" height="40px" class="" src="{{ url_for('static', filename='images/chevron.svg') }}"
                    alt="">
            </div>
        </div>

        <div class="ma-80 ">
            <p>La gamme FTTH Pro Metro Optic permet de bénéficier d’un accès internet aux débits asymétriques allant
                jusqu’à 1 Gbps.</p>
        </div>
    </section>

    <section>
        <div id="id_fibre_FTTO" class="contenu-offre ">


            <div class="flex  space-around">

                <div class="offre ">
                    <article class="">
                        <div>
                            <h1 class="titre">Cyber-Défense Max</h1>
                            <p class="start"> A partir de </p>
                            <div class="flex flex-center zone-prix">
                                <div class="flex flex-center">
                                    <p class="price">59,99</p>
                                </div>
                                <div class="flex flex-column flex-center">
                                    <p class="devise">€ HT</p>
                                    <p class="devise">/mois</p>

                                </div>
                            </div>
                            <div class="flex-center flex-column ">
                                <button class="buy">Commander</button>
                                <button class="compare">Comparer</button>
                            </div>

                        </div>

                        <div class="flex m-40 bty">
                            <div class="flex-center mr-10">
                                <img width="40px" height="40px" class=""
                                    src="{{ url_for('static', filename='images/VPN.svg') }}" alt="">
                            </div>
                            <div>
                                <p class="sous-titre"> Protégez tous vos flux et accès internet des cyber-menaces : </p>
                                <p class="sous-titre"> Décontamination des flux</p>
                            </div>

                        </div>

                        <div class="m-40">
                            <div class="flex">
                                <div class="mr-10"><img width="40px" height="40px" class=""
                                        src="{{ url_for('static', filename='images/fibre.svg') }}" alt=""></div>
                                <div class="flex-center ">
                                    <p class="sous-titre ">Sonde de prévention</p>
                                </div>
                            </div>

                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/down.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div class="flex-center">
                                            <p class="elt flex-center ">Firewall NextGen</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/up.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">iltrage des usages internet de vos collaborateurs</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Garantie de temps d'intervention 8h</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="m-40">
                            <div class="flex ">
                                <div class="mr-10"><img width="40px" height="40px" class=""
                                        src="{{ url_for('static', filename='images/accompagnement.svg') }}" alt="">
                                </div>
                                <div class="flex-center">
                                    <p class="sous-titre ">Gestion simple via votre espace client :</p>
                                </div>
                            </div>

                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10 "><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">5 profils de sécurité aux choix</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">
                                                5 profils de sécurité aux choix</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Alerte par sms et e-mail en cas de coupure internet</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="m-40">
                            <div class="flex btg">
                                <div class="mr-10"><img width="40px" height="40px" class=""
                                        src="{{ url_for('static', filename='images/accompagnement.svg') }}" alt="">
                                </div>
                                <div class="flex-center">
                                    <p class="sous-titre ">En option</p>
                                </div>
                            </div>

                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Cyber-sécurité : Pare-feu nouvelle génération</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">IP publique</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Alerte par sms et e-mail en cas de coupure internet</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </article>

                </div>

            </div>


        </div>
    </section>

    <section>
        <div class="ma-80 zone-option">
            <div>
                <h1 class="white">Possibilité En Option</h1>

                <p>Cyber-sécurité :</p>
                <p>Pare-feu nouvelle génération</p>
                <p>IP publique</p>
            </div>
        </div>

        <div class="flex-center">
            <a class="btn-eligibilite" href="">Testez mon éligibilité</a>
        </div>

    </section>


    <!--Fibre 2-->
    <section class="  zone-fibre">
        <div class="flex space-between ma-80 ">
            <div class="flex-center">
                <h4>La fibre entreprise FTTH Pro</h4>
            </div>

            <div class="flex-center">
                <img width="40px" height="40px" class="" src="{{ url_for('static', filename='images/chevron.svg') }}"
                    alt="">
            </div>
        </div>

        <div class="ma-80 ">
            <p>La gamme FTTH Pro Metro Optic permet de bénéficier d’un accès internet aux débits asymétriques allant
                jusqu’à 1 Gbps.</p>
        </div>
    </section>

    <section>
        <div id="id_fibre_FTTO" class="contenu-offre ">


            <div class="flex  space-around">

                <div class="offre ">
                    <article class="">
                        <div>
                            <h1 class="titre">Cyber-Défense Ultra Cyber-Défense</h1>
                            <p class="start"> A partir de </p>
                            <div class="flex flex-center zone-prix">
                                <div class="flex flex-center">
                                    <p class="price">59,99</p>
                                </div>
                                <div class="flex flex-column flex-center">
                                    <p class="devise">€ HT</p>
                                    <p class="devise">/mois</p>

                                </div>
                            </div>
                            <div class="flex-center flex-column ">
                                <button class="buy">Commander</button>
                                <button class="compare">Comparer</button>
                            </div>

                        </div>

                        <div class="flex m-40 bty">
                            <div class="flex-center mr-10">
                                <img width="40px" height="40px" class=""
                                    src="{{ url_for('static', filename='images/VPN.svg') }}" alt="">
                            </div>
                            <div>
                                <p class="sous-titre"> Protégez tous vos flux et accès internet des cyber-menaces
                                </p>
                                <p class="sous-titre"> Décontamination des flux</p>
                            </div>

                        </div>

                        <div class="m-40">
                            <div class="flex">
                                <div class="mr-10"><img width="40px" height="40px" class=""
                                        src="{{ url_for('static', filename='images/fibre.svg') }}" alt=""></div>
                                <div class="flex-center ">
                                    <p class="sous-titre ">
                                        Sonde de prévention
                                    </p>
                                </div>
                            </div>

                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/down.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div class="flex-center">
                                            <p class="elt flex-center ">Seuils de détection adaptés à vos usages</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/up.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Alerte par sms et e-mail en cas de coupure internet</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Garantie de temps d'intervention 8h</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="m-40">
                            <div class="flex ">
                                <div class="mr-10"><img width="40px" height="40px" class=""
                                        src="{{ url_for('static', filename='images/accompagnement.svg') }}" alt="">
                                </div>
                                <div class="flex-center">
                                    <p class="sous-titre ">Protéger l’ensemble de votre système d’information au coeur du réseau opérateur</p>
                                </div>
                            </div>

                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10 "><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Supervision de votre accès 24h/7J</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Horaires étendus du support technique :
                                                Du lundi au samedi de 8h à 22h</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Alerte par sms et e-mail en cas de coupure internet</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="m-40">
                            <div class="flex btg">
                                <div class="mr-10"><img width="40px" height="40px" class=""
                                        src="{{ url_for('static', filename='images/accompagnement.svg') }}" alt="">
                                </div>
                                <div class="flex-center">
                                    <p class="sous-titre ">En option</p>
                                </div>
                            </div>

                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Cyber-sécurité : Pare-feu nouvelle génération</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">IP publique</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class=""
                                                    src="{{ url_for('static', filename='images/check.svg') }}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <p class="elt">Alerte par sms et e-mail en cas de coupure internet</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </article>

                </div>

            </div>


        </div>
    </section>

    <section>
        <div class="ma-80 zone-option">
            <div>
                <h1 class="white">Possibilité En Option</h1>

                <p>Cyber-sécurité :</p>
                <p>Pare-feu nouvelle génération</p>
                <p>IP publique</p>
            </div>
        </div>

        <div class="flex-center">
            <a class="btn-eligibilite" href="">Testez mon éligibilité</a>
        </div>

    </section>




    <!--footer -->

    <section class="footer">
        <div class="flex-column ma-80">
            <div>
                <div class="flex space-between">
                    <p>Entreprise</p>
                    <p onclick="closeCompanyLink()">X</p>
                </div>

                <div id="close_Company_link" class="">
                    <ul>
                        <li> <a href="http://"> A propos</a> </li>
                        <li><a href="http://">Blog </a> </li>
                        <li><a href="http://">Contact </a> </li>
                        <li><a href="http://">FAQ </a></li>
                        <li><a href="">Devenir Partenaire</a></li>
                    </ul>
                </div>
            </div>

            <div>
                <div class="flex space-between">
                    <p>Offres</p>
                    <p onclick="closeOffersLink()">X</p>
                </div>

                <div id="close_Offers_link" class="">
                    <div class="">
                        <ul>
                            <li> <a href="http://">Secours 4G/5G</a> </li>
                            <li> <a href="">Fibre Optique Pro</a> </li>
                            <li> <a href="http://">Cyber-Défense</a> </li>
                            <li><a href="http://">IoT </a> </li>
                            <li><a href="http://">Cloud </a> </li>
                        </ul>
                    </div>
                </div>
        </div>

        <div class="flex space-between ma-80 mt-20">
            <div class="flex space-between follow ">
                <a class="flex-center ml-20">Suivrez-Nous</a>
            </div>

            <div class="client">
                <a>Espace Client</a>
            </div>
        </div>

    </section>


    <section class="footer-bottom">
        <div class="ma-80 ">
            <div>
                <img width="80%" class="" src="{{ url_for('static', filename=" ./images/logo-black.svg") }}" alt="">

                <p>72 Rue Sadi Carnot, 92170 Vanves</p>
            </div>

            <div>
                <p>© 2023 Métro Optic | Tous droits réservés</p>

                <p>Mentions légales & CGU | CGV - Cookies Politique de confidentialité</p>
            </div>
        </div>


    </section>

</body>

</html>