<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.svg') }}" type="image/x-icon">
    <title>4G/5G</title>
</head>

<body>
    <section>
        <nav class="navbar">
            <div class="  flex space-between top-nav">
                <div class="flex liens">
                    <a href="/"><img class="mr-40"
                            src="{{ url_for('static', filename='images/logo.svg') }}" alt=""></a>
                    <div>
                        <a class="options-select" href="/">A Propos</a>
                        <a href=""><img class="" src="{{ url_for('static', filename='images/chevron.svg') }}"
                                alt=""></a>
                    </div>
                </div>

                <div class="flex options ">
                    <div class="flex mr-20 ">
                        <a class="mr-10" href="/"><img class=""
                                src="{{ url_for('static', filename='images/telephone.svg') }}" alt=""></a>
                        <a class="number" href="/contact">01.76.49.48.60</a>
                    </div>
                    <div class="flex space-between">
                        <a class="button-devis mr-10 " href="/contact">Obtenir un devis</a>
                        <a class="button-client" href="http://192.168.115.100:6001/">Espace client</a>
                    </div>
                </div>
            </div>
            <div class="flex space-between">
                <div class="service-bloc">
                    <div>
                        <div class="bloc-choice">
                            <a class="mr-10" >Accès Internet</a>
                            <a href="/"><img class=""
                                    src="{{ url_for('static', filename='images/chevron-black.svg') }}" alt=""></a>
                        </div>
                        <div class="dropdown-content flex option-nav  space-between hide">
                            
                            <div class="service">
                                <a href="/FTTH_pro">
                                <img class="icone-service" src="{{ url_for('static', filename='images/iocne-fibre.svg') }}" alt="">
                                <p class="subtitle">Fibre sur réseau mutualisés (FTTH)</p>
                                </a>
                            </div>
                            

                            <div class="line-sh"></div>

                            <div class="service">
                                <a href="/FTTO_pro">
                                <img class="icone-service"
                                    src="{{ url_for('static', filename='images/iocne-fibre.svg') }}" alt="">
                                <p class="subtitle">Fibre sur réseau dédiés (FTTO)</p>
                                </a>
                            </div>

                            <div class="line-sh"></div>

                            <div class="service">
                                <a href="/solution_data">
                                <img class="icone-service"
                                    src="{{ url_for('static', filename='images/icone-4G-5G.svg') }}" alt="">
                                <p class="subtitle">Solutions 4G/5G</p>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="service-bloc">
                    <div class="dropdown " >
                        <div class="bloc-choice">
                            <a href="/" class="mr-10">Cyber-Sécurité</a>
                            {# <a class="dropbtn" href="/"> 
                                <img class="" src="{{ url_for('static', filename='images/chevron-black.svg') }}" alt="">
                           </a>  #}
                        </div>
                        {# <div class=" flex option-nav hide">
                            
                                <div class="service w-50">
                                    <a href="/secutite">
                                        <img class="icone-service"
                                            src="{{ url_for('static', filename='images/securite-entreprise.svg') }}" alt="">
                                        <p class="subtitle">Sécurité entreprise</p>
                                    </a>
                                </div>
                     

                            <div class="line-sh"></div>

                            
                            <div class="service w-50">
                                <a href="/iot">
                                    <img class="icone-service"
                                        src="{{ url_for('static', filename='images/IoT.svg') }}" alt="">
                                    <p class="subtitle">Solutions IoT</p>
                                </a>
                            </div>
                            

                        </div> #}
                    </div>
                </div>

                <div class="service-bloc">
                  
                        <div class="bloc-choice">
                            <a class="mr-10 " href="/iot">Solutions IoT</a>
                            {# <a href="about.html"><img class=""
                                    src="{{ url_for('static', filename='images/chevron-black.svg') }}" alt=""></a>  #}
                        </div>

                        {# <div class="dropdown-content flex space-between hide">
                            <div class="service">
                                <img class="icone-service"
                                    src="{{ url_for('static', filename='images/iocne-fibre.svg') }}" alt="">
                                <p class="subtitle">Fibre sur réseau mutualisés (FTTH)</p>
                            </div>
                            <div class="line-sh" ></div>
                            <div class="service">
                                <img class="icone-service"
                                    src="{{ url_for('static', filename='images/iocne-fibre.svg') }}" alt="">
                                <p class="subtitle">Fibre sur réseau dédiés (FTTO)</p>
                            </div>
                            <div class="line-sh" ></div>
                            <div class="service">
                                <img class="icone-service"
                                    src="{{ url_for('static', filename='images/icone-4G-5G.svg') }}" alt="">
                                <p class="subtitle">Solutions 4G/5G</p>
                            </div>
                        </div>  #}
                   
                </div>

                <div class="service-bloc">
                  
                    <div class="bloc-choice">
                        <a class="mr-10 " href="/data_center">Data Center & Télécom</a>
                        {# <a href="about.html"><img class=""
                                src="{{ url_for('static', filename='images/chevron-black.svg') }}" alt=""></a>  #}
                    </div>

                    {# <div class="dropdown-content flex space-between hide">
                        <div class="service">
                            <img class="icone-service"
                                src="{{ url_for('static', filename='images/iocne-fibre.svg') }}" alt="">
                            <p class="subtitle">Fibre sur réseau mutualisés (FTTH)</p>
                        </div>
                        <div class="line-sh" ></div>
                        <div class="service">
                            <img class="icone-service"
                                src="{{ url_for('static', filename='images/iocne-fibre.svg') }}" alt="">
                            <p class="subtitle">Fibre sur réseau dédiés (FTTO)</p>
                        </div>
                        <div class="line-sh" ></div>
                        <div class="service">
                            <img class="icone-service"
                                src="{{ url_for('static', filename='images/icone-4G-5G.svg') }}" alt="">
                            <p class="subtitle">Solutions 4G/5G</p>
                        </div>
                    </div>  #}
               
            </div>

            </div>
        </nav>
    </section>

    <section>
        <div class="flex space-between presentation-offre mtb">
            <div class="w-50 flex-column flex-center">
                <div class="flex-column ">
                    <div class="mb-20">
                        <p class="titre1">Nos offres 4G/5G </p>
                    </div>

                    <div class="mb-20">
                        <p class="titre2">
                            Un accès internet sans fil performant, instantanément
                        </p>
                    </div>

                    <div class="mb-20">
                        <p class="titre2">Offres réservées aux professionnels et aux entreprises. Engagement 1 an, multi-opérateur, livré à J+1.</p>
                    </div>
                </div>
            </div>
            <div class="w-50">
                <img class="illustration flex-center" src="{{ url_for('static', filename='images/illustation2-4G-5G.svg') }}" alt="">
            </div>
        </div>
       
    </section>


    <section class="flex-center">
        <div class="annonce ">
           <div class="flex  conteneur">
            <div>
                <div>
                    <p>Votre accès internet est en panne ? </p>
                    <p>Nous vous déployons en urgence un</p>
                    <p>accès 4G/5G</p>
                </div>
                <div class="flex-center mt-20">
                    <button class="btn-annonce">SOS 4G/5G</button>
                </div>
            </div>

            <div>
                <div>
                    <p>Vous habitez une zone où la fibre n’est  </p>
                    <p>pas déployée ? Nous vous fournissons</p>
                    <p>un accès principal en 4G/5G</p>
                </div>
                <div class="flex-center mt-20">
                    <button class="btn-annonce">Internet 4G/5G</button>
                </div>
            </div>

            <div>
                <div>
                    <p>Vous avez déjà une fibre mais souhaitez</p>
                    <p>un accès secondaire de secours ? Nous</p>
                    <p>vous fournissons un accès en 4G/5G</p>
                </div>
                <div class="flex-center mt-20">
                    <button class="btn-annonce">Accès secondaire 4G/5G</button>
                </div>
            </div>
        </div>
    </section>

    <section class="m-50">

        <!-- bandeau noire -->
        <div class="bandeau-noire">

        </div>

        <!-- offre Fibre-->
        <div  id="id_fibre_FTTO" class="contenu-offre ">
           

            <div class="flex  space-around">
                
                <div class="offre ">
                    <article class="">
                        <div>
                            <h1 class="titre">Solution d’urgence 4G/5G</h1>
                            <p class="start"> A partir de </p>
                            <div class="flex flex-center zone-prix">
                                <div class="flex flex-center">
                                    <p class="price">59,99</p>
                                </div>
                                <div class="flex flex-column flex-center">
                                    <p class="devise">€ HT</p>
                                    <p class="devise">/mois</p>
                                   
                                </div>
                            </div>
                            <div class="flex-center flex-column ">
                                <button class="buy">Commander</button>
                                <button class="compare">Comparer</button>
                            </div>
                            
                        </div>

                        <div class="flex m-40 bty" >
                            <div class="flex-center mr-10" >
                                <img width="40px" height="40px" class="" src="{{ url_for('static', filename='images/VPN.svg') }}" alt="">
                            </div>
                            <div>
                                <p class="sous-titre"> Branchez votre routeur et collaborez
                                </p>
                                <p class="sous-titre"> en ligne, tout simplement !</p>
                            </div>
                            
                        </div>

                        <div class="m-40">
                            <div class="flex">
                                <div class="mr-10"><img width="40px" height="40px" class="" src="{{ url_for('static', filename='images/fibre.svg') }}" alt=""></div>
                                <div class="flex-center "><p class="sous-titre ">Fibre mutualisée FTTH</p></div>
                            </div>
                            
                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div >
                                            <div class="mr-10"><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/down.svg') }}" alt=""></div>
                                        </div>
                                        <div class="flex-center">
                                            <p class="elt flex-center ">Data illimitée en France</p>
                                        </div>
                                    </div>  
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/up.svg') }}" alt=""></div>
                                        </div>
                                        <div>
                                            <p class="elt">Très haut débit jusqu’à 1 Gbps</p>
                                        </div>
                                    </div>  
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/check.svg') }}" alt=""></div>
                                        </div>
                                        <div>
                                            <p class="elt">Wi-Fi jusqu’à 64 connexions simultanées</p>
                                        </div>
                                    </div>  
                                </li>
                            </ul>
                        </div>                  

                        <div class="m-40">
                            <div class="flex ">
                                <div class="mr-10"><img width="40px" height="40px" class="" src="{{ url_for('static', filename='images/accompagnement.svg') }}" alt=""></div>
                                <div class="flex-center"> <p class="sous-titre ">Le + de cette solution</p></div>
                            </div>
                           
                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10 "><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/check.svg') }}" alt=""></div>
                                        </div>
                                        <div>
                                            <p class="elt">Vous êtes livrés sous 2 à 4 jours !</p>
                                        </div>
                                    </div>                     
                                </li>   
                        </div>

                        <div class="m-40">
                            <div class="flex btg">
                                <div class="mr-10"><img width="40px" height="40px" class="" src="{{ url_for('static', filename='images/accompagnement.svg') }}" alt=""></div>
                                <div class="flex-center"> <p class="sous-titre ">En option</p></div>
                            </div>
                           
                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/check.svg') }}" alt=""></div>
                                        </div>
                                        <div>
                                            <p class="elt">Cyber-sécurité : Pare-feu nouvelle génération</p>
                                        </div>
                                    </div>                     
                                </li>

                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/check.svg') }}" alt=""></div>
                                        </div>
                                        <div>
                                            <p class="elt">Service managé :</p>
                                            <p>Supervision / GTR / Boitier Extérieur</p>
                                        </div>
                                    </div> 
                                </li>
                            
                            </ul>
                        </div>
                     </article>
                    
                </div>
                <div class="flex-center">
                    <img class="" width="700px" height="670px" src="{{ url_for('static', filename="images/illustration - sos 4G-5G.svg") }}" alt="">
                </div>
            </div>
        </div>

    </section>

    <section class="m-50">

        <!-- bandeau jaune -->
        <div class="bandeau-jaune">

        </div>

        <!-- offre Fibre-->
        <div  id="id_fibre_FTTO" class="contenu-offre ">
           

            <div class="flex  space-around">
                
                <div class="offre ">
                    <article class="">
                        <div>
                            <h1 class="titre">Accès internet 4G/5G</h1>
                            <p class="start"> A partir de </p>
                            <div class="flex flex-center zone-prix">
                                <div class="flex flex-center">
                                    <p class="price">79,99</p>
                                </div>
                                <div class="flex flex-column flex-center">
                                    <p class="devise">€ HT</p>
                                    <p class="devise">/mois</p>
                                   
                                </div>
                            </div>
                            <div class="flex-center flex-column ">
                                <button class="buy">Commander</button>
                                <button class="compare">Comparer</button>
                            </div>
                            
                        </div>

                        <div class="flex m-40 bty" >
                            <div class="flex-center mr-10" >
                                <img width="40px" height="40px" class="" src="{{ url_for('static', filename='images/VPN.svg') }}" alt="">
                            </div>
                            <div>
                                <p class="sous-titre"> Branchez votre routeur et collaborez
                                </p>
                                <p class="sous-titre">  tout simplement !</p>
                            </div>
                            
                        </div>

                        <div class="m-40">
                        
                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div class="">
                                            <div class="mr-10"><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/down.svg') }}" alt=""></div>
                                        </div>
                                        <div class="flex-center">
                                            <p class="elt flex-center ">Data illimitée en France</p>
                                        </div>
                                    </div>  
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/up.svg') }}" alt=""></div>
                                        </div>
                                        <div>
                                            <p class="elt">Très haut débit jusqu’à 1 Gbps</p>
                                        </div>
                                    </div>  
                                </li>
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/check.svg') }}" alt=""></div>
                                        </div>
                                        <div>
                                            <p class="elt">Wi-Fi jusqu’à 64 connexions simultanées</p>
                                        </div>
                                    </div>  
                                </li>
                            </ul>
                        </div>                  

                        <div class="m-40">
                            <div class="flex ">
                                <div class="mr-10"><img width="40px" height="40px" class="" src="{{ url_for('static', filename='images/accompagnement.svg') }}" alt=""></div>
                                <div class="flex-center"> <p class="sous-titre ">Le + de cette solution</p></div>
                            </div>
                           
                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/check.svg') }}" alt=""></div>
                                        </div>
                                        <div>
                                            <p class="elt">Vous êtes livrés sous 2 à 4 jours !</p>
                                        </div>
                                    </div>                     
                                </li>
                            </ul>
                        </div>

                        <div class="m-40">
                            <div class="flex btg">
                                <div class="mr-10"><img width="40px" height="40px" class="" src="{{ url_for('static', filename='images/accompagnement.svg') }}" alt=""></div>
                                <div class="flex-center"> <p class="sous-titre ">En option</p></div>
                            </div>
                           
                            <ul class="ml-40">
                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/check.svg') }}" alt=""></div>
                                        </div>
                                        <div>
                                            <p class="elt">Cyber-sécurité : Pare-feu nouvelle génération</p>
                                        </div>
                                    </div>                     
                                </li>

                                <li>
                                    <div class="flex">
                                        <div>
                                            <div class="mr-10"><img width="15px" height="15px" class="" src="{{ url_for('static', filename='images/check.svg') }}" alt=""></div>
                                        </div>
                                        <div>
                                            <p class="elt">Service managé :</p>
                                            <p>Supervision / GTR / Boitier Extérieur</p>
                                        </div>
                                    </div> 
                                </li>
                            </ul>
                        </div>
                     </article>
                    
                </div>
                <div class="flex-center">
                    <img class="" width="700px" height="670px" src="{{ url_for('static', filename="images/schéma-explicatif-4g.svg") }}" alt="">
                </div>
            </div>
        </div>
    </section>

    <section>
        <header class="flex space-between info_pub">
            <div class="flex-column">
                <div class="h-80"></div>
                <div><img width="100px" height="80px" class=""  src="{{ url_for('static', filename="images/traits.svg") }}" alt=""></div>
            </div>

            <div class="flex-center flex-column">
                <h1>Besoin d'informations ?</h1>
                <p>N'hésitez pas à soliciter mon équipe</p>
            </div>

            <div class="flex-center">
                <button>Obtenir des informations</button>
            </div>

            <div class="flex-column">
                <div><img width="100px" height="80px" class=""  src="{{ url_for('static', filename="images/traits.svg") }}" alt=""></div>
                <div class="h-80"></div>
            </div>
        </header>
    </section>

    <section class="avantages">
        <div class="flex">
            <div class="avantage-box w-50">
                <div class="flex flex-column flex-center">
                    <div class="flex ">
                        <div>
                            <img class="" src="{{ url_for('static', filename='images/icone-plug-and-play.svg') }}" alt="">  
                        </div>
                        <div> 
                            <h1>Plug & play</h1>
                        </div>
                    </div>

                <div>
                    <p class="subtitle"> Vous branchez, vous surfez !</p>
                </div>

                <div class="flex-center">
                    <p class="description"> En mode plug & play branchez votre routeur et collaborez en ligne sous 2 à 4 jours.</p>
                </div>
                </div>
            </div>

            <div class="avantage-box w-50">
                <div class="flex flex-column flex-center">
                    <div class="flex ">
                        <div><img class="" src="{{ url_for('static', filename='images/icone-plug-and-play.svg') }}" alt=""> </div>
                        <div> 
                            <h1>Plug & play</h1>
                        </div>
                    </div>

                <div>
                    <p class="subtitle"> Vous branchez, vous surfez !</p>
                </div>

                <div class="flex-center">
                    <p class="description"> En mode plug & play branchez votre routeur et collaborez en ligne sous 2 à 4 jours.</p>
                </div>
                </div>
            </div>
        </div>


        <div class="flex">
            <div class="avantage-box w-50">
                <div class="flex flex-column flex-center">
                    <div class="flex ">
                        <div><img class="" src="{{ url_for('static', filename='images/icone-plug-and-play.svg') }}" alt=""> </div>
                        <div> 
                            <h1>Plug & play</h1>
                        </div>
                    </div>

                <div>
                    <p class="subtitle"> Vous branchez, vous surfez !</p>
                </div>

                <div class="flex-center">
                    <p class="description"> En mode plug & play branchez votre routeur et collaborez en ligne sous 2 à 4 jours.</p>
                </div>
                </div>
            </div>

            <div class="avantage-box w-50">
                <div class="flex flex-column flex-center">
                    <div class="flex ">
                        <div><img class="" src="{{ url_for('static', filename='images/icone-plug-and-play.svg') }}" alt=""></div>
                        <div> 
                            <h1>Plug & play</h1>
                        </div>
                    </div>

                <div>
                    <p class="subtitle"> Vous branchez, vous surfez !</p>
                </div>

                <div class="flex-center">
                    <p class="description"> En mode plug & play branchez votre routeur et collaborez en ligne sous 2 à 4 jours.</p>
                </div>
                </div>
            </div>
        </div>
    </section>


    <section class="package">
        <div class="flex-center">
            <h1>Découvrez toutes nos offres Packages</h1>
        </div>

        <div class="flex-center ">
            <div class="flex">
                <div class=" mr-20">
                    <img class="" src="{{ url_for('static', filename='images/FTTO-4G-5G-ilustration.svg') }}" alt="">
                </div>
    
                <div>
                    <img class="" src="{{ url_for('static', filename='images/FTTO-4G-5G-ilustration.svg') }}" alt="">
                </div>
                
            </div>
        </div>

        
        
    </section>

    <footer class="flex space-between footer-section">

        <div class="zone-info">
            <ul>
                <li><img width="100%" class="" src="{{ url_for('static', filename="./images/logo-black.svg") }}" alt=""></li> 
                <li><p class="flex-center" >Fournisseurs d’accès</p></li> 
            </ul>
            <div class="flex-center">
                <div class="flex space-between follow ">
                    <a class="flex-center ml-20">Suivrez-Nous</a> 
                </div>
                <div> <a class="flex-center" href="http://"><img width="50px" height="50px" class="" src="{{ url_for('static', filename="images/LinkedIn.svg") }}" alt=""></a> </div>
            </div>
            
            
        </div>
        

        <div class="flex space-between zone-nav" >

            <div>
                <h1 class="title">Ressources</h1>
                <p>Fiche router 4G</p>
                <p>Fiche ROuteur 5G </p>
                
            </div>

            <div>
                <h1 class="title">Navigation</h1>
                <p>Acceuil</p>
                <p>A propos </p>
                <p>Blog </p>
                <p>Contact </p>
            </div>

            <div>
                <h1 class="title">Offres</h1>
                <p>SOS 4G/5G</p>
                <p>FIbre optique pro </p>
                <p>Cloud </p>
                <p>IoT </p>
                <p>Devenir partenaire </p>
            </div>

        </div>

        <div class="flex-column zone-action  ">
            <div class=" flex-column flex-center space-between">
                <div class="client"><a>Espace Client</a></div>
                <div class="touch"><a>Commander</a></div>
                <div class="call"><a>Etre rappelé</a></div> 
            </div>
        </div>

        
    </footer>
</body>
</html>