<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.svg') }}" type="image/x-icon">

     <script src="{{ url_for('static', filename='js/get_screen_size.js') }}"></script>
    
    <title>Acceuil</title>
</head>

<body>

    <section>
        <div class="flex-center">    
            <div class="flex space-between">
                <h2>Métro</h2>
                <h2>Obtic</h2>
            </div>
            <div>Image</div>
            </div>
        </div>

        <div class="flex-center">
            <p>Communiquer à la vitesse de la lumière.</p>
        </div>
    </section>
    
    <section>
        <div class="flex-center">
            <p>L’engagement de Métro Optic : votre partenaire de confiance en télécommunications</p>
        </div>

        <div class="flex flex-center">
            <!--Bloc-->
            <div>
                <div>
                    <img src="" alt="Qualité du service" srcset="">
                </div>
                <div>
                    <p>Qualité du service</p>
                </div>
            </div>
            <!--Bloc-->

            <!--Bloc-->
            <div>
                <div>
                    <img src="" alt="Fiabilité" srcset="">
                </div>
                <div>
                    <p>Fiabilité</p>
                </div>
            </div>
            <!--Bloc-->

            <!--Bloc-->
            <div>
                <div>
                    <img src="" alt="Expertise" srcset="">
                </div>
                <div>
                    <p>Expertise</p>
                </div>
            </div>
            <!--Bloc-->

            <!--Bloc-->
            <div>
                <div>
                    <img src="" alt="Continuité" srcset="">
                </div>
                <div>
                    <p>Continuité</p>
                </div>
            </div>
            <!--Bloc-->

            <!--Bloc-->
            <div>
                <div>
                    <img src="" alt="Performance" srcset="">
                </div>
                <div>
                    <p>Performance</p>
                </div>
            </div>
            <!--Bloc-->


        </div>
    </section>

    <section>
        <div class="flex-center">
            <div class="flex flex-column flex-center w-80">
                <div>
                    <h1>
                        Métro Optic : votre fournisseur de solutions de connectivité haut débit et de sécurité des réseaux.
                    </h1>
                </div>

                <div>
                    <p>Métro Optic, est une entreprise de télécommunication en France présent aux cotés des PME et des collectivités locales depuis plus de 10 ans. Depuis notre création, nous avons pour mission de fournir des solutions innovantes et performantes à nos clients, tout en répondant à leurs besoins les plus spécifiques.</p>
                </div>

                <div>
                    <p>Nous sommes fiers de notre expertise et de notre positionnement sur le marché, qui nous permettent de proposer des solutions de qualité, adaptées à chaque client. Nous avons ainsi développé une expertise solide dans de nombreux domaines, tels que la fibre optique, la connectivité haut débit, et la sécurité des réseaux.</p>
                </div>

                <div>
                    <p>Nous continuons à nous engager en faveur de l’innovation et de la qualité de service, afin de fournir à nos clients des solutions toujours plus performantes et adaptées à leurs besoins spécifiques</p>
                </div>
            </div>
        </div>
    </section>

    <!-- TRANSFORMATION DIGITAL -->
    <section>
        <div class="flex-center">
            <div class="flex flex-column flex-center w-80">
                <div>
                    <h1>Éléments clés pour réussir votre transformation numérique</h1>
                </div>

                <div class="flex space-between ">
                    <div>
                        <p>Connecter tous vos sites en très haut débit grâce à la fibre optique entreprise.</p>

                        <p>Developper l’agilité de votre structure avec des solutions 100% cloud</p>

                        <p>Le système d’information d’une entreprise doit s’adapter à ses besoins, c’est pourquoi nous proposons des réseaux de nouvelle génération tels que le SD-WAN.</p>

                        <p>Anticiper l’arrivée de la 5G, qui va jouer un rôle important dans les futurs systèmes de production.</p>
                    </div>
                    <div>
                        Image
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- TRANSFORMATION DIGITAL -->

    <!-- MISSION-->
    <section>
        <div class="flex-center">
            <div class="flex-column w-80">
                <div>
                    <h1>Notre mission </h1>
                </div>

                <div>
                    <p> La mission de Métro Optic est de fournir des solutions de télécommunication de haute qualité à ses clients, en se basant sur une expertise solide et une innovation constante.</p>

                    <p>Notre objectif est de fournir à nos clients des solutions de connectivité haut débit et de sécurité des réseaux, adaptées à leurs besoins spécifiques, et de les accompagner dans leur transformation numérique.</p>
                </div>
            </div>
        </div>
    </section>

</body>
</html>