<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.svg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/index.js') }}">
    <title>Acceuil</title>
</head>

<body>
     <section>
        <div class="flex space-between ma-80">
            <p>logo</p>
            <p>menu</p>
        </div>
     </section>

     <section>
        <div class="">
            <div class="section-text flex-column">

                <div class="section-image">
                    <img width="85%" class="" src="{{ url_for('static', filename="images/illustration-offre.svg") }}"
                        alt="">
                </div>

                <div>
                    <h1 class="title">FOURNISSEURS </h1>
                    <p class="title mt-10">D’ACCÈS</p>
                </div>

                <div>
                    <p>
                        Besoin d’une liaison internet rapide et fiable ?
                    </p>
                </div>

                <div>
                    <h2>
                        Fibre Optique, 4G/5G, XDSL …
                    </h2>
                </div>



                <div>
                    <p>
                        Métro Optic est un fournisseur d’accès internet et vous accompagne dans toutes vos démarches
                    </p>
                </div>

                <div class="btn-action">
                    <ul class=" flex-center">
                        <li><a class="mr-20 rdv" href="">Obtenir un rendez vous </a> </li>
                        <li><a class="devis" href="">Demander un devis</a> </li>
                    </ul>
                </div>
            </div>

            

        </div>
    </section>

     <section>
        <div class="nav-offer ma-80 mb-20">
            <div class=" offer-box">
                <div>
                    <img width="40px" height="" class="" src="{{ url_for('static', filename="images/dome-bas.png") }}" alt="">
                </div>
                <div class="discover flex-center">
                    <div class="mb-30">
                        <p>Découvez </p>
                        <p class="bold">L'offre SOS 4G/5G</p>
                    </div>
                </div>
            </div>

            <div class=" offer-box">
                <div>
                    <img width="40px" height="" class="" src="{{ url_for('static', filename="images/dome-bas.png") }}" alt="">
                </div>
                <div class="discover flex-center">
                    <div class="mb-30">
                        <p>Découvez </p>
                        <p class="bold">L’offre Cyber-Défense</p>
                    </div>
                </div>
            </div>


            <div class=" offer-box">
                <div>
                    <img width="40px" height="" class="" src="{{ url_for('static', filename="images/dome-bas.png") }}" alt="">
                </div>
                <div class="discover flex-center">
                    <div class="mb-30">
                        <p>Découvez </p>
                        <p class="bold">L'offre SOS 4G/5G</p>
                    </div>
                </div>
            </div>
        </div>
     </section>

     <section>
        <div class="flex-center space-between ma-80">
            <div class="">
                <div class="flex flex-column flex-center">
                    <div>
                        <p class="title1">POURQUOI </p>
                        <p class="title2">METRO OPTIC ?</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="flex flex-center">
                    <img width="100%" height="100px" class="" src="{{ url_for('static', filename="images/logo-fleche.png") }}" alt="">
                </div>
            </div>
        </div>
     </section>

     <section >
        <div class="">
            <div >
                <div>
                    <img width="80px" height="80px" class="" src="{{ url_for('static', filename="images/porte-document.svg") }}" alt="">
                </div>
                <h2>Offre sur messure</h2>
                <p>
                    Des offres modulables et personnalisées pour répondre au mieux à vos besoins.
                </p>
            </div>

            <div>
                <div>
                    <img width="80px" height="80px" class="" src="{{ url_for('static', filename="images/service client.svg") }}" alt="">
                </div>
                <h2>Qualité du Service</h2>
                <p>
                    Une écoute attentive avec plus de réactivité pour une vraie relation de proximité.
                </p>
            </div>

            <div>
                <div>
                    <img width="80px" height="80px" class="" src="{{ url_for('static', filename="images/femme-pouce.svg") }}" alt="">
                </div>
                <h2>Simplicité</h2>
                <p>
                    Tous les services dont vous avez besoin auprès d’un seul fournisseur.
                </p>
            </div>

            <div>
                <div>
                    <img width="80px" height="80px" class="" src="{{ url_for('static', filename="images/argent.svg") }}" alt="">
                </div>
                <h2>Économique</h2>
                <p>
                    Des coûts d’infrastructure et des offres réduits grâce aux solutions Métro Optic..
                </p>
            </div>
            
        </div>
     </section>

     <section>
        <div class="ma-80">
            <div>
                <h1>Metrooptic</h1>

                <p>72 Rue Sadi Carnot, 92170 Vanves</p>
            </div>

            <div>
                <p>© 2023 Métro Optic | Tous droits réservés</p>

                <p>Mentions légales & CGU | CGV - Cookies Politique de confidentialité</p>
            </div>
        </div>
     </section>


     <section>
        <h1>Plusieurs professionnels nous font déjà confiance, pourquoi pas vous ?</h1>

        <div class="flex-center">
            <div class="slide">
                <img width="140px" height="140px" class="" src="{{ url_for('static', filename="images/xilam.png")}}" alt="">
            </div>
            <div class="slide">
                <img width="140px" height="140px" class="" src="{{ url_for('static', filename="images/unicef.png")}}" alt="">
            </div>
     </section>
    
</body>
    
</html>
