.illustration {
  height: 250px;
  margin-left: auto;
}
.illustration img {
  width: 1000px;
}

.presentation-offre {
  margin-left: 80px;
  margin-right: 80px;
}

.titre1 {
  margin: 0px;
  font: normal normal 600 30px Avenir-900;
  font-size: 30px;
  letter-spacing: 0px;
  color: #101041;
  opacity: 1;
  text-align: left;
  line-height: 38px;
}

.titre2 {
  margin: 5px;
  color: var(--unnamed-color-101041);
  text-align: left;
  font: normal normal normal 21px Avenir-500;
  letter-spacing: 0px;
  color: #101041;
}

.w-50 {
  width: 50%;
}

.bg-white {
  background-color: #ECF6FB;
}

.fibre-offre {
  /* Layout Properties */
  top: 760px;
  left: 460px;
  width: 500px;
  height: 100px;
  /* UI Properties */
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1607843137);
  border-radius: 18px 18px 0px 0px;
  opacity: 1;
}
.fibre-offre h1 {
  text-align: center;
  font: normal normal 900 25px Avenir-500;
  letter-spacing: 0px;
  color: #101041;
  text-transform: capitalize;
  margin: 0px;
}
.fibre-offre h2 {
  text-align: center;
  font: normal normal 900 25px Avenir-500;
  letter-spacing: 0px;
  color: #101041;
  text-transform: capitalize;
  margin: 0px;
}

.contenu-offre {
  background: #ECF6FB 0% 0% no-repeat padding-box;
  border-radius: 0% 0% 20px 20px;
}
.contenu-offre .zone-prix {
  margin-bottom: 15px;
}
.contenu-offre .test-add {
  color: var(--unnamed-color-3f8fb9);
  text-align: center;
  text-decoration: underline;
  letter-spacing: 0px;
  color: #3F8FB9;
  opacity: 1;
  padding-top: 50px;
}
.contenu-offre .test-add h1 {
  margin: 0;
  font: normal normal 500 35px Avenir-500;
}
.contenu-offre .presentation {
  text-align: center;
  font: normal normal 500 25px Avenir-500;
  letter-spacing: 0px;
  color: #101041;
  opacity: 1;
}
.contenu-offre .presentation p {
  width: 50%;
}

.offre .titre {
  text-align: center;
  font: normal normal 900 25px Avenir-900;
  letter-spacing: 0px;
  color: #3F8FB9;
  text-transform: capitalize;
  opacity: 1;
}
.offre .zone-title {
  margin-top: 25px;
  margin-bottom: 25px;
}
.offre .start {
  text-align: center;
  font: normal normal normal 12px Avenir-500;
  letter-spacing: 0px;
  color: #3F8FB9;
  opacity: 1;
}
.offre .price {
  text-align: center;
  letter-spacing: 0px;
  color: #3F8FB9;
  opacity: 1;
  font-size: 40px;
}
.offre .devise {
  text-align: center;
  font: normal normal 500 18px Avenir-500;
  letter-spacing: 0px;
  color: #3F8FB9;
  opacity: 1;
}
.offre .sous-titre {
  text-align: left;
  font: normal normal 900 16px Avenir-500;
  letter-spacing: 0px;
  color: #101041;
  opacity: 1;
}
.offre .elt {
  text-align: left;
  font: normal medium 20px Avenir-500;
  letter-spacing: 0px;
  color: #101041;
  opacity: 1;
}
.offre p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin: 0;
}
.offre .buy {
  text-align: center;
  padding: 10px;
  width: 250px;
  background: #3F8FB9 0% 0% no-repeat padding-box;
  border-radius: 8px;
  color: #F6F8F9;
  opacity: 1;
  font: normal normal 500 18px Avenir-500;
  height: 45px;
  border: 0px;
}
.offre .compare {
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  width: 250px;
  border: 2px solid #3F8FB9;
  color: #3F8FB9;
  border-radius: 8px;
  opacity: 1;
  font: normal normal normal 16px Avenir-500;
  height: 45px;
  background-color: WHITE;
}
.offre ul {
  list-style: none;
}
.offre .bottom-offre {
  background: #73acc8 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1607843137);
  border-radius: 10px;
  opacity: 1;
}
.offre .bottom-offre h1 {
  margin: 0px;
}

.info_pub {
  background: #3F8FB9 0% 0% no-repeat padding-box;
  opacity: 1;
}
.info_pub h1 {
  text-align: left;
  font: normal normal normal 30px Avenir-500;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin: 0px;
  text-align: center;
}
.info_pub p {
  text-align: left;
  font: normal normal normal 18px Avenir-500;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.info_pub button {
  border: 1px solid #FFFFFF;
  border-radius: 7px;
  opacity: 1;
  padding: 18px;
  background: #3F8FB9 0% 0% no-repeat padding-box;
  color: white;
  font: normal normal normal 18px Avenir-500;
}
.info_pub .h-80 {
  height: 80px;
}

.backup4g {
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.backup4g .title {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  font: normal normal normal 30px Avenir-500;
}
.backup4g .img-box {
  width: 30%;
}
.backup4g .box {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1607843137);
  border-radius: 10px;
  opacity: 1;
}
.backup4g .box button {
  text-align: center;
  padding: 10px;
  width: 180px;
  background: #3F8FB9 0% 0% no-repeat padding-box;
  border: 2px solid #3F8FB9;
  border-radius: 8px;
  color: #F6F8F9;
  opacity: 1;
  font: normal normal bold 16px Avenir-500;
}
.backup4g .box h1 {
  padding-top: 30px;
  text-align: center;
  font: normal normal 900 24px Avenir-500;
  letter-spacing: 0px;
  color: #3F8FB9;
  opacity: 1;
  width: 70%;
  margin-bottom: 20px;
}
.backup4g .box .content {
  padding: 40px;
  text-align: left;
  font: normal normal 500 18px Avenir-500;
  letter-spacing: 0px;
  color: #101041;
  opacity: 1;
  margin-right: 18px;
  margin-left: 18px;
  border-top: 1px solid #FFAE00;
  margin-top: 30px;
}
.backup4g .box .content .notice {
  text-align: right;
  font: normal normal normal 18px/34px Avenir-500;
  letter-spacing: 0px;
  color: #101041;
  opacity: 1;
}
.backup4g .box .flex-end {
  display: flex;
  justify-content: flex-end;
  margin: 18px;
}
.backup4g .box .img-box {
  width: 40%;
}
.backup4g .contenu-offre {
  width: 40%;
  background-color: white;
}

.form-section h1 {
  text-align: left;
  font: normal normal 900 20px Avenir-900;
  letter-spacing: 0px;
  color: #3F8FB9;
  opacity: 1;
  margin-left: 40px;
}
.form-section .div-form {
  background: #F6F8F9 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  margin: 40px;
}
.form-section .div-form .acces-zone {
  border-right: 1px solid #707070;
  width: 30%;
}
.form-section .div-form .subtitle {
  text-align: left;
  font: normal normal 900 20px Avenir-500;
  letter-spacing: 0px;
  color: #101041;
  opacity: 1;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.form-section .div-form .checkbox input {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 30px;
  height: 23px;
  padding: 2px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid #FFAE00;
  background-color: wite;
  border-radius: 50%;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-left: 30px;
}
.form-section .div-form .checkbox input[type=radio]:checked {
  background-color: #FFAE00;
}
.form-section .div-form label {
  text-align: left;
  font: normal normal 500 18px Avenir-500;
  letter-spacing: 0px;
  color: #101041;
  opacity: 1;
  width: 100%;
  margin-left: 10px;
  margin-top: 0px;
}
.form-section .div-form .action-button {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #b8b2b2;
  opacity: 1;
  margin-top: 25%;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  font: normal normal 500 18px Avenir-500;
}
.form-section .div-form .input-form {
  padding: 18px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid;
  border-radius: 0px;
  background-color: #F6F8F9;
  width: auto;
}
.form-section .div-form p {
  font: normal normal 500 18px Avenir-500;
}
.form-section .div-form a {
  font: normal normal 500 18px Avenir-500;
  color: #FFAE00;
}

.section-carousel h1 {
  text-align: center;
  font: normal normal 900 40px/55px Avenir-500;
  letter-spacing: 0px;
  color: #101041;
}
.section-carousel h2 {
  text-align: center;
  font: normal normal 900 40px/55px Avenir-500;
  letter-spacing: 0px;
  color: #3F8FB9;
}

.schema-fonc {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

/* media query for mobile */
@media only screen and (max-width: 800px) {
  .presentation-offre {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column-reverse;
    padding-top: 80px;
  }
  .presentation-offre .w-50 {
    width: 100%;
  }
  .presentation-offre .illustration {
    height: 250px;
    margin: auto;
    padding-bottom: 80px;
    width: 100%;
  }
}

/*# sourceMappingURL=Fibre.css.map */
